.header {
  height: 5rem;
  width: 100%;
  background-color: #111c46;
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: Arial, sans-serif;
  
}
@media (max-width: 768px) {
  .header {
    margin: auto;
    width: 100%;
    min-height: 0px;
    align-items: center; 
    justify-content: center;
  
  }

}
 


.logo{
  width: 90px;
  border-radius: 24px;
}
@media (max-width: 768px) {
  .logo {
    width: 40px;
  
  }

}

.navmenue {
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
  

  
}


.navmenue a {
  text-decoration: none;
  color: rgba(228, 228, 228, 0.6);
  padding: 15px 15px;
  border-radius: 24px;
  margin-left: 12px;
  transition-duration: 250ms;

}

.navmenue a:hover {
  text-decoration: none;
  background-color: rgba(228,228,228,0.08);
  color: rgba(228, 228, 228, 0.8);
  transform: translate3d(0,-2px,0);

}
.navmenue a:active{
  color: rgba(228, 228, 228, 1);

}
.navmenue a:active::after{
  color: rgba(228, 228, 228, 1);
  background-color:rgba(228,228,228,0.08);
}

@media (max-width: 768px) {
  .navmenue {
    margin: auto;
    min-height: 0px;
    padding: 0px 0px;
    align-items: center; 
    justify-content: center;
    margin-left: 0px;
  
  }

}


.User{
  width: 80px;
  height: 60px;
  border-radius: 24px;
  cursor: pointer;
  opacity: 50%;
  transition-duration: 250ms;
  margin-right: 45px;
  display: flex;
  flex-direction: column;
  color: white;
  
  
}
.User:hover{
  
  opacity: 100% ;
}
  
.User:hover p{
  color: rgba(0,0,0,1);
  border-color: rgba(0,0,0,0.5);
  border-radius: 12px;
  text-align: center;
}
@media (max-width: 768px) {
  .User {
    margin-top: 60px;
    width: 80px;
    margin-right: 15px;
    justify-content: center;
  
  }

}
.UserImage{
  width: 40px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
}
.User p{
  color: rgba(0,0,0,0);
  border-style: groove;
  border-color: rgba(0,0,0,0);
  
  
}
@media (max-width:768px){
  .User p{
    margin-top: 5px;
    
    
    

  }
}




